:root {
    --linklerin-rengi: #000;
}
@import url(reset.css);
*{
    box-sizing: border-box;  
    font-family:'Roboto', sans-serif;
}
html {
    font-size:16px;
}
.container {
    padding: 0% 8%;
    min-height: 100vh;
}
header {
    height:10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.designer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 154px;
}
.designer-content{
    flex-basis: 40%;
    position: relative;
}
.designer-content h4 {
    width: 210px;
    height: 36px;
    font-size: 23px; 
}
.designer-content h2 {
    display: flex;
    justify-content: space-between;
}
.designer-content p {
    border-bottom: 1px solid  #E5E5E5;
    display: flex;
    justify-content: space-between;
    color: #00000099;
}
.space{
    position: absolute;
    top: 32%;
    right: 100%;
}
.music{
    position: absolute;
    top: 57%;
    right: 100%;
}
.kingdom{
    position: absolute;
    top: 82%;
    right: 100%;
}
.fa-bars {
    display: none;
    font-size: 24px;
}
 .nav-links {
    display: flex;
 }
 .nav-links a {
    position: relative;
    text-decoration: none;
    letter-spacing:0px ;
    padding: 0 10px;
    color: black;
    justify-content: space-around;
 }
 .nav-links a::after{
    content:''; 
    position: absolute;
    background-color: crimson;
    height: 0px;
    width: 5px;
    left:0;
    bottom: 0px;
    transition: 0.3s;
}
.nav-links a:hover::after {
    width: 100%;
    height: 3px;
}
a:hover{
    color:blueviolet;
}
header  .nav-links > a {
    color: var(--linklerin-rengi);
    text-decoration: none;
    padding: 15px;
}
.introduction{
    display: flex;
    flex-wrap: wrap;
}
.left-side h1 {
    font-size:4.271vw;
}
.left-side {
    flex-basis:50%;
    padding: 10px;
}
.right-side {
    flex:1;
    display: flex;
    justify-content: flex-end;
}
h1 span {
    color: #FF8A56;
}
.left-side p {
    color:#666666;
}
.download-cv > button {
    background-color: #000;
    width: 151px;
    height: 58px;
    color: white;
    font-size: 1.125rem;
}
.download-cv {
    display: flex;
    align-items: center;
    gap: 15px;
}
.download-cv a {
    text-decoration: none;
}
.trusted-section {
    padding: 5% 15%;
}
.partner-section{
    display: flex;
    justify-content: space-around;
}
.trusted-section > h6 {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.service h5{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height:22px;
    color: #FF5E69;
}
.service p{
    font-weight: 700;
    font-size: 54px;
    text-align: center;
}
.servis-card h6 {
    font-size: 24px;
    font-weight: 700;
}
.servis-card h1 {
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.servis-card ul {
    list-style: square;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    padding-left: 5px;
}
.servise-section-cards {
    display: flex;
    justify-content: space-around;
}
.projects-logo h1{
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;  
    color: #B16CEA;
}
.header-topbar h1 {
    font-family: Roboto;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1px;
}
.header-topbar > button {
    color: white;
    background-color: #000;
    width: 201px;
    height: 58px;
    font-size: 18px;
}
.header-topbar > button:hover{
    cursor: grab;
}
.header-topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects-center{
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  gap: 10px;
}
.projects-image{
    flex-basis: 30%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}
.projects-center h4 {
    width: 109px;
    height: 14px;
    font-size: 14px;
    letter-spacing: 4px;
    color: #3C46FF;
}
.projects-center h1{
    width: 185px;
    height: 27px;
    font-weight: 700;
    font-size: 16px;
}
.view-projects{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.vector > button {
    width: 54px;
    height: 54px;
}
.vector{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-top: 20px;
}
.blogs-main{
    display: flex;
    padding-top: 39px;
}
.blogs-left{
    flex-basis: 45%;
}
.blogs-left h2 {
    font-weight: 700;
    width: 99px;
    height: 22px;
    font-size: 22px;
    letter-spacing: 4px;
    color: #FFA84B;
}
.blogs-left h1{
    width: 332px;
    height: 60px;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 1px;
    color: #fff;
}
.view-all a{
    padding-left:1%;
}
.view-all :nth-child(3) {
    display: none;
}
.view-all button {
    background-color: #000;
    color: #fff;
    width: 82px;
    height: 26px;
    font-size: 18px;
}
.blogs-section{
    margin:0%;
    background-color: black;
    padding: 0% 8%;
    min-height: 100vh;
}
.blogs-right {
    flex:1;
    color: white;
}
.blogs-right button {
    background-color: #000;
    color: #fff;
    width: 200px;
    height: 35px;
    font-size: 18px;
}
.blogs-right a{
    padding-left:1%;
}
.date-cards {
    font-weight: 700;
}
.date-cards span {
    color: rgba(255, 255, 255, 0.7);
}
.product-designer h4{
    width: 290px;
    height: 22px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #FF5E69;
}
.product-designer{
    flex-basis: 40%;
}
.designer-information{
    display: 1;
}
.product-designer h1 {
    width: 273px;
    height: 60px;
    font-size: 54px;
    letter-spacing: 1px;
    font-weight: 700;
}
.designer-information p {
    line-height: 23px;
    font-size: 22px;
    color: #666666;
}
.p-media{
    display: none;
}
.designer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.designer-section {
    padding: 0% 8%;
    min-height: 100vh;
}
.pds-image{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.pds-image .pds-left{
    width: 338px;
    height: 626px;
    min-width: 250px;
}
.pds-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pds-image .pds-center {
    width: 507px;
    height: 626px;
    min-width: 250px;
}
.pds-center img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pds-image .pds-right {
    height: 626px;
    width: 248px;
    gap: 16px;
    min-width: 250px;

    display: flex;
    flex-direction: column;
}
.pds-right .rs-top{
    width: inherit;
    height: 305px;
}
.pds-right .rs-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pds-right .rs-bottom{
    width: inherit;
    height: 305px;
}
.pds-right .rs-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials-section{
    padding: 0% 8%;
    min-height: 100vh;
}
.testimonials-section h5 {
    width: 212px;
    height: 22px;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 700;
    color:#4353FF;
}
.testimonials-section h1{
    width: 500px;
    height: 60px;
    font-size: 54px;
    letter-spacing: 1px;
    font-weight: 700;
}
.testi-main{
    display: flex;
}
.testi-left{
    flex-basis: 50%;
}
.testi-right{
    flex:1;
}
.testi-right p{
    width: 565px;
    height: 188px;
    font-weight: 700;
    font-size: 36px;
}
.testi-right h6{
    width: 122px;
    height: 20px;
    font-size: 20px;
    font-weight: 700;
}
.testi-right h3{
    width: 196px;
    height: 18px;
    font-weight:400;
    padding-bottom: 25px;
}
.testi-bottom h4{
    width: 122px;
    height: 20px;
    font-weight: 700;
    font-size: 20px;
}
.testi-bottom p{
    width: 196px;
    height: 18px;
    font-weight: 400;
    font-size: 18px;
}
.testi-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.vector-group > button {
    width: 54px;
    height: 54px;
    background-color: #000;
}
.vector-group{
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}
.div{
    margin:0%;
    background-color: black;
    padding: 0% 8%;
    min-height: 100vh;
}
.questions-top h6 {
    width: 58px;
    height: 22px;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    color: #FF8A56;
    padding-top: 20px;

}
.questions-top h1{
    width: 736px;
    height: 60px;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 1px;
    color: white;

}
.questions-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
.questions-left{
    flex-basis: 50%;
}
.questions-right{
    width: 300px;
    flex:1;
}
.questions-right > .cards-image {
    width: 495px;
}
.questions-cards-left h1{
    font-size: 24px;
    width: 437px;
    height: 32px;
    letter-spacing: 0.3px;
    font-weight: 700;
    color: white;
}
.questions-cards-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questions-cards-right{
    display: flex;
    justify-content: space-between;
    align-items: center; 

}
.questions-cards-right h1{
    font-size: 24px;
    width: 437px;
    height: 32px;
    letter-spacing: 0.3px;
    font-weight: 700;
    color: white;
}
.questions-main{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
.questions-cards-left img {
    padding-right: 45px;
}
.footer-section{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}
.footer-top h1{
    color: white;
    height: 60px;
    font-size: 54px;
    letter-spacing: 1px;
    font-weight: 700;
    padding-top:40px;
}
.footer-top h4{
    color:#3C46FF;
    width: 466px;
    height: 60px;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 0.5px;
}
.footer-left address{
    width: 325px;
    height: 28px;
    font-weight: 400;
    font-size: 16px;
}
.footer-left address a {
    text-decoration: none;
    color:#666666;
}
.mail-section{
    display: flex;
    align-items: flex-start;
}
.mail-section small{
    width: 141px;
    height: 36px;
    font-size: 17px;
    font-weight: 400;
    color:#5C5C5C;
}
.footer-right a{
    color: white;
    width: 83px;
    height: 18px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}
.footer-right a:hover {
    color: blue;
}
.footer-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
}
.footer-right{
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
    align-items: center;
    gap: 50px;
}
.footer-right> .about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.footer-right> .services{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-right > .experience{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-bottom a{
    color:#8A95AD;
    width: 193px;
    height: 21px;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
}
.footer-top{
    flex-basis: 30%;
}
.footer-center{
    flex-basis: 40%;
}
.footer-bottom{
    flex:1; 
}

.designer-cards-section > .stanford h1{
    width: 219px;
    height: 27px;
    font-weight: 700;
    font-size: 24px;
}
.designer-cards-section > .stanford p{
    width: 287px;
    height: 21px;
    font-weight: 400;
    font-size: 16px;
    color:#00000099;
}
.designer-cards-section > .date {
    width: 97px;
    height: 21px;
    font-weight: 400;
    font-size: 16px;
    color:#00000099;
}
.designer-cards-section{
    display: flex;
    justify-content: space-between;
}
.projects-bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.projects-cards{
    width: 350px;
}
.projects-image img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.projects-media{
    display: none;
}
.blogs-cards {
    background-color: #fff;
    width: 350px;
}
.blogs-cards h4{
    color: #3C46FF;
}
.blogs-cards h1 {
    font-weight: 700;
    font-size: 24px;
}
.blogs-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:768px) {
     .partner-section {
         flex-wrap: wrap;
     }
     .trusted-section h6{
        font-size: large;
     }
     .blogs-main {
         flex-direction: column;
     }
     .designer-bottom {
         flex-direction: column;
     }
     .service p{
        font-size: 26px;
     }
     .view-all a {
        display: none;
     }
     .view-all {
        display: flex;
        padding-bottom:3%;
     }
     .view-all :nth-child(3){
        display: flex;
     }
     .space{
        display: none;
     }
     .music{
        display: none;
     }
     .kingdom{
        display: none;
     }
}
@media(min-width:645px){
    .designer-content{
        width: 514px;
    }
}
@media(max-width:645px){
    .designer-content{
        width:100%;
    }
}
@media(max-width:763px){
.designer-information {
    flex-basis: 100%;
    text-align: center;
}
.designer-information p {
    display: none;
}
.designer-information :nth-child(2) {
    display: flex;
}
}
@media(max-width:611px){
    .testi-left img{
        width: 385px;
    }
}
@media(max-width:613px){
    .projects-media{
        width:100%;
    }
}
@media(max-width:629px){
    .testi-top{
        width: 395px;
    }
    .testi-top h1 {
        width: 100%;
        font-size: 40px;
    }
    .testi-top h5 {
        width: 100%;
    }
    .right-side img{
        width: 385px;
    }
}
@media(max-width:586px){
    .testi-right{
        width: 390px;
    }
    .testi-right p{
        font-size: 27px;
    }
}
@media (max-width:787px){
    .projects-logo {
        text-align: center;
    }
    .header-topbar{
        flex-direction: column;
    }
    .projects-header >  .header-topbar h1{
        text-align: center;
        flex-basis:100%;
        font-size: 35px;
    }
}
@media (max-width:832px){
    .nav-links {
        display: none;
    }
    .fa-bars {
        display:flex;
    }
}
@media(max-width:863px){
    .servis-card h6 {
        height: 48px;
        padding: 5px
    }
    .servis-card h1 {
        height: 168px;
        font-size: 14px;
    }
}
@media(max-width:911px){
    .questions-top{
        text-align: center;
    }
    .questions-top h1{
        font-size: 4.1vw;
        width: 100%;
    }
}
@media(max-width:943px){
    .footer-center{
        flex-direction: column;
    }
    .footer-left{
        width: 100%;
    }
    .footer-right{
        display: flex;
        width: 100%;
        padding-right: 0px;
        gap: 0 px;
    }
    .footer-right{
        width: 100%;
    }
}
@media(min-width:1400px){
    .left-side h1 {
       font-size: 72px;
   }
}
@media(max-width:1224px){
   .left-side {
       flex-basis:100%;
       text-align: center;
   }
   .left-side h1 {
       font-size: 54px;
   }
   .right-side{
    justify-content: center;
   }
   .download-cv {
       justify-content: center;
   }
}
@media (max-width:1003px){
    .servise-section-cards{
        text-align: center;
    }
    .servise-section-cards h6 {
        font-size: 20px;
    }
    .servise-section-cards h1 {
        font-size: 14px;
    }
}
@media(max-width:1022px){
    .designer-top{
        flex-direction: column;
    }
    .product-designer{
        text-align: center;
    }
}
@media(max-width:1075px){
    .footer-top h1{
        font-size: 4.5vw;
        width: 100%;
    }
    .footer-top h4 {
        font-size: 4.5vw;
        width: 100%;
    }
}
@media (max-width:1090px){
    .servis-card ul {
        list-style:square;
        font-weight: 700;
        font-size: 15px;
        line-height: 30px;
        padding-left:31px;
    }
}
@media(max-width:1282px){
    .questions-main{
        flex-direction: column;
    }
    .questions-left{
        flex-basis: 100%;
        width: 100%;
        padding-right: 0px;
    }
    .questions-left img {
        padding-right: 0px;
    }
    .questions-right{
        flex-basis:100%;
        width: 100%;
    }
}
@media (max-width:1281px){
    .blogs-top{
        display: none;
    }
    .projects-center{
        display: none;
    }
    .projects-media{
        display: flex;
    }
    .projects-bottom{
        flex-wrap: wrap;
    }
 }
@media(max-width:1284px){
    .testi-top{
        text-align: center;      
    }
    .testi-main{
        flex-direction: column;
    }
    .testi-left{
        flex-basis: 100%;
        text-align: center;
    }
    .testi-right{
        flex-basis:100%;
              
    }
    .testi-right p{
        width: 100%;
        text-align: center;
    }
}